:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {

    height: 100vh;
    font-size: 0.987rem;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    display: grid;
    place-items: center;
}

.card-wrapper {
    width: 70%;
    height: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    
}

.card-wrapper img, h1 {
    margin-bottom: 15px;
}

.card-wrapper h1 {
    font-weight: 700;
    color: var(--very-light-gray); 
}

.card-wrapper p {
    margin-bottom: 60px;
    font-weight: 400;
    color: var(--transparent-white);
}

.card-wrapper button {
    width: 50%;
    height: 45px;
    padding: 0 15px;
    background: var(--very-light-gray);
    color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    border-style: outset;
}

.card-wrapper .section1, .section2, .section3{
    width: 33,3%;
    height: 100%;
    padding: 55px;
}

.section1 {

    background-color: var(--bright-orange);

}

.section2 {
    background-color: var(--dark-cyan);
}

.section3 {
    background-color: var(--very-dark-cyan);
}


